---
import "../global.css";
import Navbar from "../components/Navbar.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Portfolio de Marc",
  description = "Portfolio of Marc Plana, full-stack developer and computer engineering student."
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="layout-wrapper">
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
